html,body,div,hr,p,img,h1,h3{
margin:0;
border:0;
padding:0;
}
div.body{
margin:30px;
border:2px dashed;
padding:0;
color:#303030;
background-color:white;
font-family:verdana,arial,helvetica,sans-serif;
font-size:16px;
}
div.body > *:first-child{
margin-top:30px;
}
div.body > *:last-child{
margin-bottom:30px;
}
div.body > *{
margin-left:30px;
margin-right:30px;
}
div.body > a{
display:block;
}
div.body > a:before{
content:"? ";
}