.fi{
  background-size:contain;
  background-position:50%;
  background-repeat:no-repeat;
  width:16px;
  height:12px;
}
.fi-xx{
  background-image:url(flags/xx.svg);
}
.fi-ad{
  background-image:url(flags/ad.svg);
}
.fi-ae{
  background-image:url(flags/ae.svg);
}
.fi-af{
  background-image:url(flags/af.svg);
}
.fi-ag{
  background-image:url(flags/ag.svg);
}
.fi-ai{
  background-image:url(flags/ai.svg);
}
.fi-al{
  background-image:url(flags/al.svg);
}
.fi-am{
  background-image:url(flags/am.svg);
}
.fi-ao{
  background-image:url(flags/ao.svg);
}
.fi-aq{
  background-image:url(flags/aq.svg);
}
.fi-ar{
  background-image:url(flags/ar.svg);
}
.fi-as{
  background-image:url(flags/as.svg);
}
.fi-at{
  background-image:url(flags/at.svg);
}
.fi-au{
  background-image:url(flags/au.svg);
}
.fi-aw{
  background-image:url(flags/aw.svg);
}
.fi-ax{
  background-image:url(flags/ax.svg);
}
.fi-az{
  background-image:url(flags/az.svg);
}
.fi-ba{
  background-image:url(flags/ba.svg);
}
.fi-bb{
  background-image:url(flags/bb.svg);
}
.fi-bd{
  background-image:url(flags/bd.svg);
}
.fi-be{
  background-image:url(flags/be.svg);
}
.fi-bf{
  background-image:url(flags/bf.svg);
}
.fi-bg{
  background-image:url(flags/bg.svg);
}
.fi-bh{
  background-image:url(flags/bh.svg);
}
.fi-bi{
  background-image:url(flags/bi.svg);
}
.fi-bj{
  background-image:url(flags/bj.svg);
}
.fi-bl{
  background-image:url(flags/bl.svg);
}
.fi-bm{
  background-image:url(flags/bm.svg);
}
.fi-bn{
  background-image:url(flags/bn.svg);
}
.fi-bo{
  background-image:url(flags/bo.svg);
}
.fi-bq{
  background-image:url(flags/bq.svg);
}
.fi-br{
  background-image:url(flags/br.svg);
}
.fi-bs{
  background-image:url(flags/bs.svg);
}
.fi-bt{
  background-image:url(flags/bt.svg);
}
.fi-bv{
  background-image:url(flags/bv.svg);
}
.fi-bw{
  background-image:url(flags/bw.svg);
}
.fi-by{
  background-image:url(flags/by.svg);
}
.fi-bz{
  background-image:url(flags/bz.svg);
}
.fi-ca{
  background-image:url(flags/ca.svg);
}
.fi-cc{
  background-image:url(flags/cc.svg);
}
.fi-cd{
  background-image:url(flags/cd.svg);
}
.fi-cf{
  background-image:url(flags/cf.svg);
}
.fi-cg{
  background-image:url(flags/cg.svg);
}
.fi-ch{
  background-image:url(flags/ch.svg);
}
.fi-ci{
  background-image:url(flags/ci.svg);
}
.fi-ck{
  background-image:url(flags/ck.svg);
}
.fi-cl{
  background-image:url(flags/cl.svg);
}
.fi-cm{
  background-image:url(flags/cm.svg);
}
.fi-cn{
  background-image:url(flags/cn.svg);
}
.fi-co{
  background-image:url(flags/co.svg);
}
.fi-cr{
  background-image:url(flags/cr.svg);
}
.fi-cu{
  background-image:url(flags/cu.svg);
}
.fi-cv{
  background-image:url(flags/cv.svg);
}
.fi-cw{
  background-image:url(flags/cw.svg);
}
.fi-cx{
  background-image:url(flags/cx.svg);
}
.fi-cy{
  background-image:url(flags/cy.svg);
}
.fi-cz{
  background-image:url(flags/cz.svg);
}
.fi-de{
  background-image:url(flags/de.svg);
}
.fi-dj{
  background-image:url(flags/dj.svg);
}
.fi-dk{
  background-image:url(flags/dk.svg);
}
.fi-dm{
  background-image:url(flags/dm.svg);
}
.fi-do{
  background-image:url(flags/do.svg);
}
.fi-dz{
  background-image:url(flags/dz.svg);
}
.fi-ec{
  background-image:url(flags/ec.svg);
}
.fi-ee{
  background-image:url(flags/ee.svg);
}
.fi-eg{
  background-image:url(flags/eg.svg);
}
.fi-eh{
  background-image:url(flags/eh.svg);
}
.fi-er{
  background-image:url(flags/er.svg);
}
.fi-es{
  background-image:url(flags/es.svg);
}
.fi-et{
  background-image:url(flags/et.svg);
}
.fi-fi{
  background-image:url(flags/fi.svg);
}
.fi-fj{
  background-image:url(flags/fj.svg);
}
.fi-fk{
  background-image:url(flags/fk.svg);
}
.fi-fm{
  background-image:url(flags/fm.svg);
}
.fi-fo{
  background-image:url(flags/fo.svg);
}
.fi-fr{
  background-image:url(flags/fr.svg);
}
.fi-ga{
  background-image:url(flags/ga.svg);
}
.fi-gb{
  background-image:url(flags/gb.svg);
}
.fi-gd{
  background-image:url(flags/gd.svg);
}
.fi-ge{
  background-image:url(flags/ge.svg);
}
.fi-gf{
  background-image:url(flags/gf.svg);
}
.fi-gg{
  background-image:url(flags/gg.svg);
}
.fi-gh{
  background-image:url(flags/gh.svg);
}
.fi-gi{
  background-image:url(flags/gi.svg);
}
.fi-gl{
  background-image:url(flags/gl.svg);
}
.fi-gm{
  background-image:url(flags/gm.svg);
}
.fi-gn{
  background-image:url(flags/gn.svg);
}
.fi-gp{
  background-image:url(flags/gp.svg);
}
.fi-gq{
  background-image:url(flags/gq.svg);
}
.fi-gr{
  background-image:url(flags/gr.svg);
}
.fi-gs{
  background-image:url(flags/gs.svg);
}
.fi-gt{
  background-image:url(flags/gt.svg);
}
.fi-gu{
  background-image:url(flags/gu.svg);
}
.fi-gw{
  background-image:url(flags/gw.svg);
}
.fi-gy{
  background-image:url(flags/gy.svg);
}
.fi-hk{
  background-image:url(flags/hk.svg);
}
.fi-hm{
  background-image:url(flags/hm.svg);
}
.fi-hn{
  background-image:url(flags/hn.svg);
}
.fi-hr{
  background-image:url(flags/hr.svg);
}
.fi-ht{
  background-image:url(flags/ht.svg);
}
.fi-hu{
  background-image:url(flags/hu.svg);
}
.fi-id{
  background-image:url(flags/id.svg);
}
.fi-ie{
  background-image:url(flags/ie.svg);
}
.fi-il{
  background-image:url(flags/il.svg);
}
.fi-im{
  background-image:url(flags/im.svg);
}
.fi-in{
  background-image:url(flags/in.svg);
}
.fi-io{
  background-image:url(flags/io.svg);
}
.fi-iq{
  background-image:url(flags/iq.svg);
}
.fi-ir{
  background-image:url(flags/ir.svg);
}
.fi-is{
  background-image:url(flags/is.svg);
}
.fi-it{
  background-image:url(flags/it.svg);
}
.fi-je{
  background-image:url(flags/je.svg);
}
.fi-jm{
  background-image:url(flags/jm.svg);
}
.fi-jo{
  background-image:url(flags/jo.svg);
}
.fi-jp{
  background-image:url(flags/jp.svg);
}
.fi-ke{
  background-image:url(flags/ke.svg);
}
.fi-kg{
  background-image:url(flags/kg.svg);
}
.fi-kh{
  background-image:url(flags/kh.svg);
}
.fi-ki{
  background-image:url(flags/ki.svg);
}
.fi-km{
  background-image:url(flags/km.svg);
}
.fi-kn{
  background-image:url(flags/kn.svg);
}
.fi-kp{
  background-image:url(flags/kp.svg);
}
.fi-kr{
  background-image:url(flags/kr.svg);
}
.fi-kw{
  background-image:url(flags/kw.svg);
}
.fi-ky{
  background-image:url(flags/ky.svg);
}
.fi-kz{
  background-image:url(flags/kz.svg);
}
.fi-la{
  background-image:url(flags/la.svg);
}
.fi-lb{
  background-image:url(flags/lb.svg);
}
.fi-lc{
  background-image:url(flags/lc.svg);
}
.fi-li{
  background-image:url(flags/li.svg);
}
.fi-lk{
  background-image:url(flags/lk.svg);
}
.fi-lr{
  background-image:url(flags/lr.svg);
}
.fi-ls{
  background-image:url(flags/ls.svg);
}
.fi-lt{
  background-image:url(flags/lt.svg);
}
.fi-lu{
  background-image:url(flags/lu.svg);
}
.fi-lv{
  background-image:url(flags/lv.svg);
}
.fi-ly{
  background-image:url(flags/ly.svg);
}
.fi-ma{
  background-image:url(flags/ma.svg);
}
.fi-mc{
  background-image:url(flags/mc.svg);
}
.fi-md{
  background-image:url(flags/md.svg);
}
.fi-me{
  background-image:url(flags/me.svg);
}
.fi-mf{
  background-image:url(flags/mf.svg);
}
.fi-mg{
  background-image:url(flags/mg.svg);
}
.fi-mh{
  background-image:url(flags/mh.svg);
}
.fi-mk{
  background-image:url(flags/mk.svg);
}
.fi-ml{
  background-image:url(flags/ml.svg);
}
.fi-mm{
  background-image:url(flags/mm.svg);
}
.fi-mn{
  background-image:url(flags/mn.svg);
}
.fi-mo{
  background-image:url(flags/mo.svg);
}
.fi-mp{
  background-image:url(flags/mp.svg);
}
.fi-mq{
  background-image:url(flags/mq.svg);
}
.fi-mr{
  background-image:url(flags/mr.svg);
}
.fi-ms{
  background-image:url(flags/ms.svg);
}
.fi-mt{
  background-image:url(flags/mt.svg);
}
.fi-mu{
  background-image:url(flags/mu.svg);
}
.fi-mv{
  background-image:url(flags/mv.svg);
}
.fi-mw{
  background-image:url(flags/mw.svg);
}
.fi-mx{
  background-image:url(flags/mx.svg);
}
.fi-my{
  background-image:url(flags/my.svg);
}
.fi-mz{
  background-image:url(flags/mz.svg);
}
.fi-na{
  background-image:url(flags/na.svg);
}
.fi-nc{
  background-image:url(flags/nc.svg);
}
.fi-ne{
  background-image:url(flags/ne.svg);
}
.fi-nf{
  background-image:url(flags/nf.svg);
}
.fi-ng{
  background-image:url(flags/ng.svg);
}
.fi-ni{
  background-image:url(flags/ni.svg);
}
.fi-nl{
  background-image:url(flags/nl.svg);
}
.fi-no{
  background-image:url(flags/no.svg);
}
.fi-np{
  background-image:url(flags/np.svg);
}
.fi-nr{
  background-image:url(flags/nr.svg);
}
.fi-nu{
  background-image:url(flags/nu.svg);
}
.fi-nz{
  background-image:url(flags/nz.svg);
}
.fi-om{
  background-image:url(flags/om.svg);
}
.fi-pa{
  background-image:url(flags/pa.svg);
}
.fi-pe{
  background-image:url(flags/pe.svg);
}
.fi-pf{
  background-image:url(flags/pf.svg);
}
.fi-pg{
  background-image:url(flags/pg.svg);
}
.fi-ph{
  background-image:url(flags/ph.svg);
}
.fi-pk{
  background-image:url(flags/pk.svg);
}
.fi-pl{
  background-image:url(flags/pl.svg);
}
.fi-pm{
  background-image:url(flags/pm.svg);
}
.fi-pn{
  background-image:url(flags/pn.svg);
}
.fi-pr{
  background-image:url(flags/pr.svg);
}
.fi-ps{
  background-image:url(flags/ps.svg);
}
.fi-pt{
  background-image:url(flags/pt.svg);
}
.fi-pw{
  background-image:url(flags/pw.svg);
}
.fi-py{
  background-image:url(flags/py.svg);
}
.fi-qa{
  background-image:url(flags/qa.svg);
}
.fi-re{
  background-image:url(flags/re.svg);
}
.fi-ro{
  background-image:url(flags/ro.svg);
}
.fi-rs{
  background-image:url(flags/rs.svg);
}
.fi-ru{
  background-image:url(flags/ru.svg);
}
.fi-rw{
  background-image:url(flags/rw.svg);
}
.fi-sa{
  background-image:url(flags/sa.svg);
}
.fi-sb{
  background-image:url(flags/sb.svg);
}
.fi-sc{
  background-image:url(flags/sc.svg);
}
.fi-sd{
  background-image:url(flags/sd.svg);
}
.fi-se{
  background-image:url(flags/se.svg);
}
.fi-sg{
  background-image:url(flags/sg.svg);
}
.fi-sh{
  background-image:url(flags/sh.svg);
}
.fi-si{
  background-image:url(flags/si.svg);
}
.fi-sj{
  background-image:url(flags/sj.svg);
}
.fi-sk{
  background-image:url(flags/sk.svg);
}
.fi-sl{
  background-image:url(flags/sl.svg);
}
.fi-sm{
  background-image:url(flags/sm.svg);
}
.fi-sn{
  background-image:url(flags/sn.svg);
}
.fi-so{
  background-image:url(flags/so.svg);
}
.fi-sr{
  background-image:url(flags/sr.svg);
}
.fi-ss{
  background-image:url(flags/ss.svg);
}
.fi-st{
  background-image:url(flags/st.svg);
}
.fi-sv{
  background-image:url(flags/sv.svg);
}
.fi-sx{
  background-image:url(flags/sx.svg);
}
.fi-sy{
  background-image:url(flags/sy.svg);
}
.fi-sz{
  background-image:url(flags/sz.svg);
}
.fi-tc{
  background-image:url(flags/tc.svg);
}
.fi-td{
  background-image:url(flags/td.svg);
}
.fi-tf{
  background-image:url(flags/tf.svg);
}
.fi-tg{
  background-image:url(flags/tg.svg);
}
.fi-th{
  background-image:url(flags/th.svg);
}
.fi-tj{
  background-image:url(flags/tj.svg);
}
.fi-tk{
  background-image:url(flags/tk.svg);
}
.fi-tl{
  background-image:url(flags/tl.svg);
}
.fi-tm{
  background-image:url(flags/tm.svg);
}
.fi-tn{
  background-image:url(flags/tn.svg);
}
.fi-to{
  background-image:url(flags/to.svg);
}
.fi-tr{
  background-image:url(flags/tr.svg);
}
.fi-tt{
  background-image:url(flags/tt.svg);
}
.fi-tv{
  background-image:url(flags/tv.svg);
}
.fi-tw{
  background-image:url(flags/tw.svg);
}
.fi-tz{
  background-image:url(flags/tz.svg);
}
.fi-ua{
  background-image:url(flags/ua.svg);
}
.fi-ug{
  background-image:url(flags/ug.svg);
}
.fi-um{
  background-image:url(flags/um.svg);
}
.fi-us{
  background-image:url(flags/us.svg);
}
.fi-uy{
  background-image:url(flags/uy.svg);
}
.fi-uz{
  background-image:url(flags/uz.svg);
}
.fi-va{
  background-image:url(flags/va.svg);
}
.fi-vc{
  background-image:url(flags/vc.svg);
}
.fi-ve{
  background-image:url(flags/ve.svg);
}
.fi-vg{
  background-image:url(flags/vg.svg);
}
.fi-vi{
  background-image:url(flags/vi.svg);
}
.fi-vn{
  background-image:url(flags/vn.svg);
}
.fi-vu{
  background-image:url(flags/vu.svg);
}
.fi-wf{
  background-image:url(flags/wf.svg);
}
.fi-ws{
  background-image:url(flags/ws.svg);
}
.fi-ye{
  background-image:url(flags/ye.svg);
}
.fi-yt{
  background-image:url(flags/yt.svg);
}
.fi-za{
  background-image:url(flags/za.svg);
}
.fi-zm{
  background-image:url(flags/zm.svg);
}
.fi-zw{
  background-image:url(flags/zw.svg);
}
.fi-arab{
  background-image:url(flags/arab.svg);
}
.fi-asean{
  background-image:url(flags/asean.svg);
}
.fi-cefta{
  background-image:url(flags/cefta.svg);
}
.fi-cp{
  background-image:url(flags/cp.svg);
}
.fi-dg{
  background-image:url(flags/dg.svg);
}
.fi-eac{
  background-image:url(flags/eac.svg);
}
.fi-es-ct{
  background-image:url(flags/es-ct.svg);
}
.fi-es-ga{
  background-image:url(flags/es-ga.svg);
}
.fi-es-pv{
  background-image:url(flags/es-pv.svg);
}
.fi-eu{
  background-image:url(flags/eu.svg);
}
.fi-gb-eng{
  background-image:url(flags/gb-eng.svg);
}
.fi-gb-nir{
  background-image:url(flags/gb-nir.svg);
}
.fi-gb-sct{
  background-image:url(flags/gb-sct.svg);
}
.fi-gb-wls{
  background-image:url(flags/gb-wls.svg);
}
.fi-ic{
  background-image:url(flags/ic.svg);
}
.fi-pc{
  background-image:url(flags/pc.svg);
}
.fi-sh-ac{
  background-image:url(flags/sh-ac.svg);
}
.fi-sh-hl{
  background-image:url(flags/sh-hl.svg);
}
.fi-sh-ta{
  background-image:url(flags/sh-ta.svg);
}
.fi-un{
  background-image:url(flags/un.svg);
}
.fi-xk{
  background-image:url(flags/xk.svg);
}