html, body, div, canvas, p, a, span{
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
}
body.ranked{
  color:#303030;
  background-color:#ffffff;
  font-family:Verdana,Arial,Sans-serif,Helvetica;
  font-size:16px;
  width:calc(100vw - 60px);
  height:calc(100vh - 60px);
  margin:30px;
  border:2px dashed;
  padding:30px;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  align-items:stretch;
  cursor:default;
  position:relative;
  overflow:hidden;
}
body.ranked div#title{
  text-align:center;
  font-size:16px;
  font-weight:bold;
  margin:0 0 2px 0;
}
body.ranked div#subtitle{
  text-align:center;
  font-size:13px;
  margin:0 0 12px 0;
}
body.ranked div#legend{
  display:flex;
  flex-wrap:wrap;
  justify-content:center;
  align-items:baseline;
  align-content:flex-start;
  gap:5px 10px;
  font-size:12px;
  margin:0 0 1px 0;
  user-select:none;
}
body.ranked div#legend > div{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  align-content:flex-start;
  gap:0 5px;
  cursor:pointer;
}
body.ranked div#legend > div.hidden{
  text-decoration-line:line-through;
}
body.ranked div#legend > div.shadow{
  color:#c0c0c0;
  text-decoration-color:#c0c0c0;
}
body.ranked div#legend > div > span{
  display:block;
}
body.ranked div#legend > div > span.box{
  width:20px;
  height:12px;
  border-radius:2px;
}
body.ranked div#graph{
  position:relative;
}
body.ranked canvas#ranked{
  display:block;
  cursor:crosshair;
}
body.ranked div#tooltip{
  position:absolute;
  pointer-events:none;
  display:none;
  --color:#303030d0;
  background-color:var(--color);
  border-radius:5px;
  color:#ffffff;
  padding:5px 10px;
  font-size:12px;
  --pos:50%;
  --width:9px;
  transform:translate(calc(var(--pos) * -1), calc(var(--width) + 3px));
  white-space:nowrap;
  z-index:1000;
}
body.ranked div#tooltip:before{
  content:"";
  position:absolute;
  border:var(--width) solid transparent;
  border-bottom-color:var(--color);
  top:calc(var(--width) * -2);
  left:calc(var(--pos) - var(--width));
}
body.ranked div#tooltip > div{
  display:flex;
  align-items:center;
  gap:10px;
}
body.ranked div#tooltip > div.resultplayer{
  justify-content:flex-start;
}
body.ranked div#tooltip > div.resultplayer.decayed{
  justify-content:space-between;
}
body.ranked div#tooltip > div.resultopponent{
  justify-content:flex-end;
}
body.ranked div#tooltip > div > div.player{
  display:flex;
  align-items:center;
  gap:5px;
}
body.ranked div#tooltip > div > div.player > div.color{
  width:20px;
  height:12px;
  border-radius:2px;
}
body.ranked div#tooltip > div > div.player > div.name{
  font-weight:bold;
}
body.ranked div#tooltip > div > div.result{
  font-weight:bold;
}
body.ranked div#tooltip > div > div.result.decayed{
  color:#ffd060;
}
body.ranked div#tooltip > div > div.result.forfeited{
  color:#ffa0a0;
}
body.ranked div#tooltip > div > div.result.lost{
  color:#ffa0a0;
}
body.ranked div#tooltip > div > div.result.won{
  color:#90ff90;
}
body.ranked div#tooltip > div > div.result.draw{
  color:#a0a0ff;
}
body.ranked div#tooltip > div > div.elo{
  display:flex;
  align-items:center;
  gap:5px;
}
body.ranked div#tooltip > div > div.elo > div.new{
}
body.ranked div#tooltip > div > div.elo > div.diff{
  font-weight:bold;
}
body.ranked div#tooltip > div > div.elo > div.diff.minus{
}
body.ranked div#tooltip > div > div.elo > div.diff.plus{
}
body.ranked div#tooltip > div > div.elo > div.diff.zero{
}
body.ranked div#tooltip > div.seedline{
  justify-content:space-evenly;
}
body.ranked div#tooltip > div.seedline > div.time{
  padding:0 0 0 21px;
  background:url(img/time.svg) left / 16px 16px no-repeat;
  height:16px;
}
body.ranked div#tooltip > div.seedline > div.seed{
  padding:0 0 0 21px;
  background:url(img/seeds.png) no-repeat;
  height:16px;
}
body.ranked div#tooltip > div.seedline > div.seed.ruined_portal{
  background-position:0 0;
}
body.ranked div#tooltip > div.seedline > div.seed.desert_temple{
  background-position:0 -16px;
}
body.ranked div#tooltip > div.seedline > div.seed.buried_treasure{
  background-position:0 -32px;
}
body.ranked div#tooltip > div.seedline > div.seed.shipwreck{
  background-position:0 -48px;
}
body.ranked div#tooltip > div.seedline > div.seed.village{
  background-position:0 -64px;
}
body.ranked div#tooltip > div.seedline > div.bastion{
  padding:0 0 0 21px;
  background:url(img/gold.png) no-repeat;
  height:16px;
}
body.ranked div#tooltip > div.dateline{
  justify-content:space-between;
}
body.ranked div#tooltip > div.dateline > div.date{
}
body.ranked div#tooltip > div.dateline > div.ago{
}
body.ranked a,
body.ranked a:visited,
body.ranked a:hover,
body.ranked a:visited:hover{
  color:#303030;
  text-decoration:none;
}
body.ranked div.choices{
  position:absolute;
  display:flex;
  font-size:14px;
}
body.ranked div.choices.top{
  top:0;
}
body.ranked div.choices.bottom{
  bottom:0;
}
body.ranked div.choices.left{
  left:0;
}
body.ranked div.choices.right{
  right:0;
}
body.ranked div.choices > span,
body.ranked div.choices > a{
  display:block;
  text-align:center;
  background-clip:padding-box;
}
body.ranked div.choices > span{
  padding:2px 8px;
}
body.ranked div.choices > a,
body.ranked div.choices > span.lang{
  box-sizing:content-box;
  padding:2px 5px;
  width:1.5em;
}
body.ranked div.choices.top > span,
body.ranked div.choices.top > a{
  border-bottom:2px dashed;
}
body.ranked div.choices.bottom > span,
body.ranked div.choices.bottom > a{
  border-top:2px dashed;
}
body.ranked div.choices.left > span,
body.ranked div.choices.left > a{
  border-right:2px dashed;
}
body.ranked div.choices.right > span,
body.ranked div.choices.right > a{
  border-left:2px dashed;
}
body.ranked div.choices.right > span.last{
  border-right:2px dashed;
  margin-right:15px;
}
body.ranked div.choices > a,
body.ranked div.choices > span.zoom,
body.ranked div.choices > span.lang,
body.ranked div.choices > span#help{
  cursor:pointer;
}
body.ranked div.choices > span.title{
  font-weight:bold;
}
body.ranked div.choices > a:hover,
body.ranked div.choices > a.selected:hover,
body.ranked div.choices > span.zoom:hover,
body.ranked div.choices > span.lang:hover,
body.ranked div.choices > span#help:hover{
  background-color:#e0f0ff;
}
body.ranked div.choices > a.selected,
body.ranked div.choices > span.selected{
  background-color:#ffffb0;
}
body.ranked div.choices > span.selected.max{
  background-color:#ffd0d0;
}
body.ranked div.message{
  position:absolute;
  top:47%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}
body.ranked div#no-data{
  display:none;
  border:2px dashed;
  padding:20px 30px;
  background-color:#ffffff;
}
body.ranked > dialog#helpwindow{
  height:100vh;
  width:100vw;
  max-height:100vh;
  max-width:100vw;
  border:0;
  padding:0;
  color:#303030;
}
body.ranked > dialog#helpwindow:focus{
  outline:none;
}
body.ranked > dialog#helpwindow > span.close{
  cursor:pointer;
  display:block;
  position:absolute;
  padding:2px 8px;
  background-clip:padding-box;
  font-size:14px;
  font-weight:bold;
}
body.ranked > dialog#helpwindow > span.close.top{
  top:32px;
  border-bottom:2px dashed;
}
body.ranked > dialog#helpwindow > span.close.bottom{
  bottom:32px;
  border-top:2px dashed;
}
body.ranked > dialog#helpwindow > span.close.left{
  left:32px;
  border-right:2px dashed;
}
body.ranked > dialog#helpwindow > span.close.right{
  right:32px;
  border-left:2px dashed;
}
body.ranked > dialog#helpwindow > span.close:hover{
  background-color:#e0f0ff;
}
body.ranked > dialog#helpwindow > div{
  position:absolute;
  inset:0;
  margin:30px;
  border:2px dashed;
  padding:50px;
  overflow:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
body.ranked > dialog#helpwindow > div > div.title{
  text-align:center;
  font-size:16px;
  font-weight:bold;
  padding:0 0 30px;
}
body.ranked > dialog#helpwindow > div > div.content{
  font-size:14px;
  width:auto;
  margin:0 auto;
  overflow:auto;
}
body.ranked > dialog#helpwindow > div > div.content > div.subtitle{
  font-weight:bold;
}
body.ranked > dialog#helpwindow > div > div.content > div.point{
  padding:10px 0 0 20px;
  display:list-item;
  list-style-position:inside;
}
body.ranked > dialog#helpwindow > div > div.content > div.point + div.subtitle{
  padding:20px 0 0;
}