html, body, canvas, form, div, input, label, span{
  margin:0;
  border:0;
  padding:0;
  box-sizing:border-box;
}
body.fract{
  color:#303030;
  background-color:#ffffff;
  width:calc(100vw - 60px);
  height:calc(100vh - 60px);
  margin:30px;
  border:2px dashed;
  padding:30px;
  position:relative;
  font-family:monospace;
  font-size:16px;
}
body.fract.work{
  border-color:#c0c0c0;
}
body.fract canvas{
  display:block;
}
body.fract form{
  position:absolute;
  top:30px;
  left:30px;
}
body.fract form *:is(input, label, span){
  cursor:pointer;
}
body.fract div:has(> input:hover, > label:hover){
  color:#ff0000;
}
body.fract label{
  padding:0 0 0 10px;
}
body.fract.work form label{
  color:#c0c0c0;
}
body.fract form div:has(span){
  text-align:center;
  margin-top:5px;
}
body.fract form span{
  display:none;
}
body.fract:not(.work) form span#start.startable,
body.fract.work form span#stop.stoppable,
body.fract:not(.work):not(.clean) form span#clear{
  display:inline;
  color:#303030;
}
body.fract:not(.work) form span#start.startable:hover,
body.fract.work form span#stop.stoppable:hover,
body.fract:not(.work):not(.clean) form span#clear:hover{
  color:#ff0000;
}
body.fract > span#steps{
  position:absolute;
  top:30px;
  right:30px;
  cursor:default;
}
body.fract.work > span#steps{
  color:#c0c0c0;
}
body.fract > dialog#warning{
  color:#303030;
  border:0;
  padding:0;
  width:750px;
}
body.fract > dialog#warning:focus{
  outline:none;
}
body.fract > dialog#warning > div{
  margin:20px;
  border:2px dashed;
  padding:20px;
}
body.fract > dialog#warning *:is(input, label, span){
  cursor:pointer;
}
body.fract > dialog#warning div.always{
  margin:20px 0;
  text-align:center;
}
body.fract > dialog#warning div.buttons{
  display:flex;
  justify-content:space-around;
}
body.fract > dialog#warning div.buttons > span{
  display:block;
}
body.fract > dialog#warning div.buttons > span:hover{
  color:#ff0000;
}