html, body, h1, div, table, tr, th, td, img{
  margin:0;
  border:0;
  padding:0;
}
body{
  color:#303030;
  background-color:#ffffff;
  font-family:Verdana,Arial,Sans-serif,Helvetica;
  font-size:14px;
}
h1.title{
  margin:30px;
  font-size:30px;
  font-weight:normal;
  text-align:center;
  letter-spacing:30px;
}
div.index{
  margin:30px;
  border:2px dashed #303030;
}
div.section{
  display:flex;
  flex-direction:column;
}
div.section > b{
  display:block;
  margin:20px 30px 10px;
  align-self:flex-start;
  font-weight:bold;
}
div.section > span{
  display:block;
  margin:5px 30px 10px;
}
div.section > a{
  display:block;
  margin:5px 30px;
  align-self:flex-start;
}
div.index > div.section:first-child{
  margin-top:10px;
}
div.index > div.section:last-child > *:last-child{
  margin-bottom:30px;
}
a{
  color:#505090;
  text-decoration:none;
  padding:0 4px;
}
a:visited{
  color:#b07070;
  text-decoration:none;
}
a:hover, a:visited:hover{
  text-decoration:none;
  background-color:#e8e8f8;
}
div.section > b > a.permalink,
div.section > b > a.permalink:visited{
  color:#303030;
  text-decoration:none;
  background-color:transparent;
  padding:0;
}
div.section > b > a.permalink:hover,
div.section > b > a.permalink:visited:hover{
  color:#303030;
  text-decoration:none;
  background-color:transparent;
  padding:0 20px 0 0;
  background-image:url(link.svg);
  background-repeat:no-repeat;
  background-position:100% 50%;
  background-size:auto 11px;
}
div.table{
  margin:30px 0;
  padding:0;
  text-align:center;
}
div.table > h1{
  margin:30px;
}
div.table > table{
  margin:30px auto;
  border-collapse:collapse;
  border-spacing:0;
  max-width:calc(100% - 60px);
}
div.table > table tr{
  background-color:#d8d8f8;
}
div.table > table tr[class]:hover{
  background-color:#ffdfaf;
}
div.table > table tr.data1{
  background-color:#f8f8f8;
}
div.table > table tr.data2{
  background-color:#e8e8f8;
}
div.table > table td, div.table > table th{
  padding:2px 10px;
  border:1px solid silver;
}
div.table > table td img{
  display:block;
  margin:3px auto;
}